#main-markets {
    width: 100%;
}

.market-header {
    margin-top: 32px;
    font-size: 64px;
    background: linear-gradient(90deg, #ff6b00, #ffa502);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.market-currencies {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 64px;
    padding: 24px;
    border-radius: 24px;
    background-color: #F8F8F8;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.market-currency {
    color: #141414;
    border-top: 1px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    gap: 24px;
    font-size: 16px;
}

.market-currency p {
    font-weight: bold;
}

.market-currency-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    gap: 24px;
    font-size: 18px;
}

.market-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-icon {
    height: 24px;
    aspect-ratio: 1;
}

.currency-name {
    flex: 5;
    font-size: 18px;
}

.currency-name-header {
    flex: 5;
}

.currency-price {
    flex: 2;
}

.currency-cap {
    flex: 2;
}

.currency-percentage {
    flex: 2;
}

.pagination-buttons {
    display: flex;
    width: 20%;
    flex-direction: row;
    margin: 24px 0;
    gap: 4px;
    align-items: center;
}

.pagination-button {
    width: 24px;
    aspect-ratio: 0.8;
    text-align: center;
    background-color: transparent;
    border: 1.5px solid #000;
    font-size: 14px;
    border-radius: 8px;
    transition-duration: 0.1s;
}

.pagination-button:hover {
    width: 24px;
    aspect-ratio: 0.8;
    text-align: center;
    background-color: #0000007c;
    font-weight: bold;
}

.current {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.next {
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.prev {
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.percentage-increase {
    color: rgb(0, 173, 78);
    paint-order: stroke fill;
}

.percentage-decrease {
    color: rgb(196, 0, 59);
    paint-order: stroke fill;
}
 
.percentage-neutral {
    color: rgb(90, 90, 90);
    paint-order: stroke fill;
}